@import '/src/assets/styles/general.scss';

.dashboard {
  width: 100%;
  max-width: 760px;
  // height: 100%;
  background-color: white;
  border-radius: 30px;
  padding: 47px 60px;
  color: $grey;
}