@import 'src/assets/styles/general.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Unbounded';
  font-size: 24px;
  font-weight: 300;
  color: $logo-txt-color;
}



@media screen and (max-width: 1024px) {
  .logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 18px;
  }
}

.logo>img:last-child {
  transform: rotate(180deg);
}

.account-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Unbounded';
  font-size: 20px;
  font-weight: 300;
  color: $logo-txt-color;

  &__span {
    font-weight: 400;
  }
}

@media screen and (max-width: 1024px) {
  .account-logo {
    font-size: 14px;
  }
}