@import './reset.scss';
@import './variables.scss';

.blur {
  backdrop-filter: blur(40px);
}

.gradient-bg {
  &::before {
    content: "";
    position: absolute;
    top: -200px;
    left: -100px;
    right: -100px;
    bottom: -200px;
    background: radial-gradient(ellipse 40% 90% at 50% 0%, rgba(91, 120, 165, 0.5) 0%, rgba(27, 44, 70, 0.3) 100%);
    z-index: -1;
  }

  &-top::before {
    transform: rotate(24deg);
  }

  &-bottom::before {
    transform: rotate(204deg);
  }
}

.circle-bg::after {
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(49, 71, 108, 0.35) 0%, rgba(49, 71, 108, 0.28) 100%);
  backdrop-filter: blur(14px);
  opacity: 0.3;
  filter: drop-shadow(0, 1.2, 14px, rgba(0, 0, 0, 0.25));
  z-index: -3;
}

h2 {
  font-family: 'Unbounded Blond';
  font-size: 32px;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 22px;
  }
}

h5 {
  font-family: 'Unbounded';
  font-size: 22px;
  line-height: 1.1;
}

p {
  font-family: $primary-font;
  font-weight: 400;
  opacity: 1;
}

p>span {
  opacity: 1;
}

span {
  font-family: $primary-font;
  font-weight: 300;
  // opacity: 0.6;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign {

  &__container {
    background-color: white;
    width: 560px;
  }

  @media screen and (max-width: 1024px) {
    &__container {
      width: 460px;
    }
  }

  @media screen and (max-width: 768px) {
    &__container {
      width: 300px;
    }
  }

  &__form-header {
    padding: 0;
  }

  &__form-header h2 {
    font-family: 'Unbounded';
    font-weight: 500;
  }

  &__form-content {
    margin-top: 45px;
    font-family: 'Unbounded blond';
    color: $modal-text-color;
  }

  @media screen and (max-width: 1024px) {
    &__form-content {
      margin-top: 40px;
    }
  }

  &__form-item {
    margin-bottom: 40px;
  }

  &__form-item:nth-child(2) {
    margin-bottom: 30px;
  }

  &__form-item p {
    font-size: 20px;
    line-height: 1.1;
  }

  @media screen and (max-width: 1024px) {
    &__form-item p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 768px) {
    &__form-item p {
      font-size: 14px;
    }
  }

  &__form-item input {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.1;

    outline: 1px solid $border-color;
    border-radius: 20px;
    width: 100%;
    height: 80px;
  }

  @media screen and (max-width: 1024px) {
    &__form-item input {
      margin-top: 16px;
      height: 66px;
    }
  }

  @media screen and (max-width: 768px) {
    &__form-item input {
      height: 60px;
    }
  }

  &__form-content>a {
    display: inline-block;
    font-size: 16px;
    line-height: 1.1;
    width: 100%;
    text-align: right;
  }

  @media screen and (max-width: 1024px) {
    &__form-content>a {
      font-size: 14;
      line-height: 1.1;
    }
  }

  @media screen and (max-width: 768px) {
    &__form-content>a {
      font-size: 12px;
      line-height: 1.1;
    }
  }

  &__form-content input[type="checkbox"] {
    display: inline;
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 1024px) {
    &__form-content input[type="checkbox"] {
      width: 15px;
      height: 15px;
    }
  }

  &__form-agreement {
    height: fit-content;
    margin-left: 22px;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__form-agreement p {
    font-size: 16px;
    font-weight: 300px;
  }

  @media screen and (max-width: 1024px) {
    &__form-agreement p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    &__form-agreement p {
      font-size: 12px;
    }
  }

  &__form-footer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  @media screen and (max-width: 768px) {
    &__form-footer {
      margin-top: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    &__form-footer {
      margin-top: 35px;
      gap: 20px;
      flex-direction: column-reverse;
    }
  }

  &__form-footer-link {
    color: $secondary-text-color;
  }

  &__form-footer p {
    font-family: 'Unbounded blond';
    font-size: 18px;
    line-height: 1.3;
    text-align: right;
    white-space: wrap;
    width: 200px;
  }

  @media screen and (max-width: 768px) {
    &__form-footer p {
      font-size: 12px;
      width: 100%;
      text-align: center;
      white-space: nowrap;
    }
  }

  &__form-footer button {
    width: 300px;
  }

  @media screen and (max-width: 768px) {
    &__form-footer button {
      width: 100%;
    }
  }

}

// .checkbox {
//   width: 20px;
//   height: 20px;
// }